# Step 1 - Scraping 

Complete my initial scraping using Jupyter Notebook, BeautifulSoup, and Requests/Splinter.

In [8]:
# Dependencies
import os
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [9]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430

[WDM] - Driver [C:\Users\sun_c\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

## Nasa Mars News

 - Scrape the Nasa Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [ ]:
# Scrape the NASA Mars News Site
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [ ]:
# create a beautiful soup object
html = browser.html
soup = bs(html, "html.parser")

# collect the latest News Title and Paragraph Text and assign the text to
# to variables that I can reference later
news_title = soup.find_all("div", class_="content_title")[1].text
paragraph_text = soup.find("div", class_="article_teaser_body").text

print(news_title)
print(paragraph_text)

In [ ]:
browser.quit()

## JPL Mars Space Images - Featured Image

 - Visit the url for JPL Featured Space Image
 

 - Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.


 - Make sure to find the image url to the full size .jpg image.


 - Make sure to save a complete url string for this image.

In [ ]:
# visit the url for image
jpl_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(jpl_url)

In [ ]:
# create a beautiful soup object
jpl_html = browser.html
jpl_soup = bs(jpl_html, "html.parser")

find_image = jpl_soup.find("img", class_="fancybox-image")["src"]

# assigning webpage url to later ensuring to get full size .jpg image url
webpage_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/"

In [ ]:
# assign the url string to a variable called featured_image_url
featured_image_url = webpage_url + find_image
print(featured_image_url)

In [ ]:
browser.quit()

## Mars Facts

 - Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


 - Use Pandas to convert the data to a HTML table string.

In [3]:
# visit Mars Facts webpage and use pandas to scrape table
facts_url = "https://space-facts.com/mars/"
# browser.visit(facts_url)

fact_table = pd.read_html(facts_url)
fact_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
# convert to pandas table before converting the data to a HTML table string
facts_pdtable = fact_table[0]
facts_pdtable.columns = ["Description", "Values"]
facts_pdtable

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [6]:
# convert the data to a HTML table string
html_table = facts_pdtable.to_html(index=False)
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Description</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [7]:
browser.quit()

## Mars Hemispheres

 - Visit the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres.


 - You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.


 - Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


 - Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [10]:
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [11]:
# create a beautiful soup object
hemisphere_html = browser.html
hemisphere_soup = bs(hemisphere_html, "html.parser")

# assigning webpage url to later ensuring to get full size .jpg image url for all hemispheres
hemis_webpage_url = "https://astrogeology.usgs.gov"

In [ ]:
# four hemispheres and create lists to hold
hemispheres = ["Cerberus", "Schiaparelli", "Syrtis-Major", "Valles-Marineris" ]
hemisphere_imgs = []